<!doctype html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>Add Book</title>

</head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container"><br>
        <h3 class="display-5 text-center">Add Book</h3><br>
        <!-- Form Add Book -->
      <section>
        <form method="POST" action="<%= postRoute %>">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title" name="title">
                        </div>
                        <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Author" name="author">
                        </div>
                        <div class="form-group">
                            <label for="publisher">Publisher</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="publisher">
                        </div>
                        <div class="form-group">
                        <label for="publicationYear">Publication Year</label>
                        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="publicationYear" name="publicationYear">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Email can't be same.</small>
                        </div>
                        <div class="form-group">
                        <label for="numberOfPage">Number of Page</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="numberOfPage" name="numberOfPage">
                        </div>
                        <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="price" name="price">
                        </div>
                        <div class="form-group">
                        <label for="stock">Stock</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="stock" name="stock">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Tag</label>
                        <select multiple class="form-control" id="exampleFormControlSelect2" name="tag">
                            <% tags.forEach( (tag) => { %>
                                <option value="<%=tag.id%>"><%=tag.name%></option>
                            <% }) %>
                        </select>
                    </div>
                    <form action="/upload" enctype="multipart/form-data" method="POST">
                      <input type="file" name="myFile" id="myFile" required />
                      <input type="submit" value="Upload" />
                    </form>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>